@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl-900.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 16px;
}

body {
  font-family: 'MuseoSansCyrl', sans-serif;
}

.button {
  background: -webkit-gradient(linear, left top, left bottom, from(#1BE874), to(#036729));
  background: -webkit-linear-gradient(top, #1BE874 0%, #036729 100%);
  background: linear-gradient(180deg, #1BE874 0%, #036729 100%);
  border-radius: 12px;
  border: 0;
  font-style: inherit;
  font-family: inherit;
  font: inherit;
  color: #fff;
  padding: 17px 35px;
  font-weight: 300;
}

.Popap-overlay {
  background-color: rgba(59, 67, 76, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 98;
  display: none;
}

.Popap-overlay--active {
  display: block;
}

/*Header*/

.header-nav {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  background-color: #fff;
}

.header-nav__item-btn {
  display: none;
}

.header-nav__item--component {
  display: none;
}

.header-nav__list {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-nav__link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000;
  font-weight: 300;
  padding-bottom: 4px;
}

.header-nav__link:hover {
  border-bottom: 1px solid #11B354;
  color: #11B354;
}

.social-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 79px;
}

.social-wrapper__btn-wrapper {
  display: none;
}

.social-wrapper svg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.social-wrapper__logo {
  display: -webkit-box;
  display: flex;
  width: 268px;
  -webkit-box-align: center;
  align-items: center;
  margin-top: -40px;
  margin-left: -17px;
}

.social-wrapper__logo img {
  margin-right: 12px;
  width: auto;
}

.social-wrapper__logo h2 {
  font-size: 26px;
  line-height: 31px;
  font-weight: 900;
  margin-top: -20px;
}

.social-wrapper__logo span {
  color: #11B354;
  display: block;
}

.social-wrapper__icon {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.social-wrapper__icon p {
  margin-right: 39px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.social-wrapper__call {
  max-width: 205px;
  margin-top: 6px;
}

.social-wrapper__call a {
  font-weight: 700;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  padding-left: 20px;
}

.social-wrapper__call a::before {
  content: "";
  position: absolute;
  background-image: url("../img/call.svg");
  width: 15px;
  height: 15px;
  left: 0;
  top: 6px;
}

.social-wrapper__call button {
  margin-top: 15px;
  display: block;
  margin-left: auto;
  font-size: 18px;
  line-height: 22px;
}

/*Intro-section*/

.intro {
  background-image: url("../img/backmain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: -160px;
  padding-top: 160px;
  min-height: 856px;
}

.intro__wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.intro__title {
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  font-weight: 700;
  max-width: 743px;
  margin: 0 auto;
  margin-top: 50px;
}

.intro__subtitle {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-top: 20px;
}

.intro__form {
  max-width: 458px;
  margin: 0 auto;
  position: relative;
  margin-top: 70px;
  text-align: center;
}

.intro__form::before {
  content: "";
  position: absolute;
  background-image: url("../img/tell.svg");
  width: 20px;
  height: 20px;
  top: 20px;
  bottom: 0;
  left: 20px;
}

.intro__number {
  padding: 20px 49px;
  border-radius: 12px;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.12);
  border: 0;
  width: 100%;
  font-style: inherit;
  font-family: inherit;
  font: inherit;
  font-weight: 100;
  font-size: 14px;
  line-height: 17px;
}

.intro__button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  line-height: 23px;
}

.intro__checkbox {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 20px;
  display: inline-block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.intro__checkbox a {
  color: #11B354;
  text-decoration: underline;
}

.intro__checkbox::after {
  content: "";
  position: absolute;
  color: #11B354;
  border: 1px solid #11B354;
  border-radius: 2px;
  width: 13px;
  height: 13px;
  left: 0;
}

.intro__blocks {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  margin-top: 75px;
}

.intro__blockitem {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(29.166666666666668% - 20px);
  min-height: 123px;
  position: relative;
}

.intro__blockwrap {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
  border-radius: 12px;
  padding: 13px;
  position: relative;
}

.intro__blockafter {
  width: 90%;
  position: absolute;
  height: 87px;
  border-radius: 12px;
  background-color: #fff;
  top: 55px;
  left: 0;
  right: 0;
  margin: auto;
}

.intro__blockitem:nth-child(2) {
  margin-top: 30px;
}

.intro__blockitem:nth-child(2) .intro__blocktext {
  padding: 20px 60px;
}

.intro__blocktext {
  border: 1px dashed #B3B3B3;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  padding: 10px 30px;
}

.intro__blockwrap--green {
  background-color: #11B354;
}

.intro__blockwrap--green .intro__blocktext {
  border: 1px dashed #fff;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.intro__checkhidden:checked + .intro__checkbox::before {
  content: "✓";
  position: absolute;
  color: #11B354;
  left: 2px;
}

/* CATALOG AUTO */

.catalog {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
  padding-bottom: 120px;
}

.catalog__tabs {
  border: 1px solid #A8A8A8;
  border-radius: 12px;
  max-width: 315px;
  margin-top: 32px;
  display: -webkit-box;
  display: flex;
}

.catalog__tabs .button {
  background: #fff;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  width: 50%;
  color: #000;
  padding: 12px 0;
}

.catalog__tabs .catalog__tabs--active {
  background: -webkit-gradient(linear, left top, left bottom, from(#1BE874), to(#036729));
  background: -webkit-linear-gradient(top, #1BE874 0%, #036729 100%);
  background: linear-gradient(180deg, #1BE874 0%, #036729 100%);
  color: #fff;
}

.catalog__title {
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
}

.catalog__title span {
  color: #11B354;
}

.catalog__autofitst {
  margin-top: 55px;
}

.catalog__autotype {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  -webkit-box-pack: center;
  justify-content: center;
}

.catalog__autotype-type {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
  display: block;
  margin-bottom: 20px;
  position: relative;
  text-decoration: none;
  color: #000;
}

.catalog__autotype-type:hover img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.44);
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}

.catalog__autotype-type img {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}

.catalog__autotype-type p {
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
}

.catalog__autoform {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.catalog__autoform-form {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(20% - 20px);
  text-decoration: none;
  color: #000;
  font-weight: 300;
  text-align: center;
  margin-top: 90px;
}

.catalog__autoform-form:hover {
  color: #11B354;
}

.catalog__autoform-form p {
  font-size: 20px;
  line-height: 24px;
  margin-top: 10px;
}

.catalog__autosecond {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 99px;
}

.catalog__marks {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 300;
  font-size: 22px;
  text-decoration: none;
  color: #000;
  margin-bottom: 25px;
}

.catalog__marks-img {
  width: 65px;
  margin-right: 28px;
}

.catalog__marks img {
  display: block;
  width: auto;
  margin: 0 auto;
}

/*ELECTROCAR MAIN*/

.elecar {
  background-color: #F7F7F7;
}

.elecar__wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
  padding-bottom: 120px;
}

.elecar__title {
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
}

.elecar__catalog {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 25px;
}

.elecar__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(33.333333333333336% - 20px);
  background-color: #F7F7F7;
  border: 1px solid #A8A8A8;
  border-radius: 12px;
  margin-top: 25px;
}

.elecar__link {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #B3B3B3;
  display: block;
  position: relative;
}

.elecar__image {
  width: 100%;
}

.elecar__type {
  position: absolute;
  top: 5px;
  right: 10px;
}

.elecar__brend {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 20px 15px;
}

.elecar__brend h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

.elecar__brend p {
  font-size: 28px;
  line-height: 34px;
  font-weight: 300;
}

.elecar__property-wrapper {
  padding-top: 21px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 26px;
}

.elecar__property {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 14px;
}

.elecar__property span {
  font-size: 22px;
  line-height: 26px;
  text-align: right;
  font-weight: 500;
}

.elecar__price {
  font-size: 22px;
  line-height: 26px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 59px;
}

.elecar__price span {
  color: #0788FF;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  text-align: right;
}

/*TESTDRIVE ON MAIN*/

.testdrive {
  background-image: url('../img/testdrive_back.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-height: 477px;
}

.testdrive__wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
  padding-bottom: 120px;
  padding-bottom: 80px;
}

.testdrive__title {
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
  text-align: center;
}

.testdrive__subtitle {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.testdrive__form {
  max-width: 960px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 34px;
}

.testdrive__field {
  background: #FFFFFF;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: 20px;
  border: 0;
  font-size: 14px;
  line-height: 17px;
  width: 240px;
  display: block;
}

.testdrive__field--date {
  width: 190px;
}

.testdrive__button {
  width: 165px;
  text-align: left;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}

.testdrive__text {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: 500;
  margin: 0 auto;
  max-width: 654px;
  margin-top: 45px;
}

/*Popular*/

.popular {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
  padding-bottom: 120px;
}

.popular__title {
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
}

.popular__wrapper {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  -webkit-box-align: stretch;
  align-items: stretch;
  margin-top: 30px;
}

.popular__link {
  text-decoration: none;
  color: #000;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
  margin-top: 20px;
  border-radius: 12px;
  border: 1px solid #A8A8A8;
  padding-bottom: 35px;
  padding-top: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.popular__link:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popular__link img,
.popular__link p {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
}

.popular__link p {
  margin-top: auto;
}

/*Calc on main page*/

.calc {
  background: #F7F7F7;
}

.calc label {
  cursor: pointer;
}

.calc__title {
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
  margin-bottom: 38px;
}

.calc__wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
  padding-bottom: 120px;
}

.calc__formtitle {
  margin-top: 64px;
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
}

.calc__formgroup {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.calc__formgroup input[type="text"],
.calc__formgroup input[type="number"],
.calc__formgroup select {
  padding: 16px;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  border-radius: 7px;
  border: 1px solid #A8A8A8;
  background: #FFFFFF;
  width: 299px;
  margin-right: 40px;
  margin-top: 24px;
}

.calc__formgroup input[type="radio"]:checked + .calc__formgroup-label::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background: #11B354;
  border-radius: 50%;
  left: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.calc__formgroup-label {
  position: relative;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  padding-left: 35px;
  display: block;
  margin-left: 19px;
  margin-top: 24px;
}

.calc__formgroup-label::before {
  content: "";
  position: absolute;
  border: 1px solid #11B354;
  border-radius: 50%;
  width: 21px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 21px;
}

.calc__formgroup-labelcheck {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  position: relative;
  padding-left: 44px;
  margin-top: 24px;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.calc__formgroup-labelcheck::before {
  content: "";
  position: absolute;
  color: #11B354;
  border: 1px solid #11B354;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.calc input[type="checkbox"]:checked + .calc__formgroup-labelcheck::after {
  content: "✓";
  position: absolute;
  font-size: 22px;
  color: #11B354;
  left: 3px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.calc__formgroup--expenses {
  -webkit-box-align: stretch;
  align-items: stretch;
}

.calc__formgroup-box {
  padding: 28px 18px;
  width: 449px;
  margin-top: 24px;
  margin-right: 40px;
  background: #FFFFFF;
  border: 1px solid #A8A8A8;
  border-radius: 12px;
}

.calc__formgroup-box h4 {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 20px;
}

.calc__formgroup-box p {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 18px;
}

.calc__formgroup-box span {
  color: #11B354;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
}

.calc__formgroup-box .calc__smalltext {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  max-width: 210px;
}

.calc__formgroup--price {
  max-width: 553px;
  margin-top: 39px;
}

.calc__formgroup--price p {
  margin-top: 27px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

.calc__formgroup--price span {
  color: #11B354;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
}

.calc__button {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  margin-top: 67px;
}

/*features__block*/

.features {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
  padding-bottom: 120px;
}

.features__title {
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
}

.features__block {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.features__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(33.333333333333336% - 20px);
  margin-top: 77px;
}

.features__item h3 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  margin-top: 24px;
}

.features__item p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 15px;
}

/*useful__block*/

.useful {
  background: #F7F7F7;
}

.useful__wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
  padding-bottom: 120px;
}

.useful__title {
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
}

.useful__block {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 19px;
}

.useful__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(33.333333333333336% - 20px);
  margin-top: 30px;
}

.useful__item p {
  margin-top: 9px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
}

.useful__link {
  display: block;
  text-decoration: none;
  color: #000;
}

.useful__link img {
  border-radius: 12px;
  width: 100%;
}

.useful__link h3 {
  margin-top: 26px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

/*Map on main*/

.map-oil {
  padding-top: 100px;
  padding-bottom: 120px;
  padding-bottom: 0;
}

.map-oil__title {
  max-width: 1240px;
  margin: 0 auto;
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
}

.map-oil__map {
  margin-top: 50px;
}

.map-oil__map iframe {
  width: 100%;
  min-height: 559px;
}

/*instagramm*/

.inst {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
  padding-bottom: 120px;
}

.inst__title {
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
}

/*Footer*/

.footer {
  background-color: #000;
  padding-bottom: 31px;
}

.footer-nav__list {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 45px;
  border-bottom: 1px solid #8E8E8E;
}

.footer-nav__link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  padding-bottom: 4px;
}

.footer-nav__link:hover {
  color: #11B354;
}

.footer-social-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
  flex-wrap: wrap;
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 29px;
}

.footer-social-wrapper svg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.footer-social-wrapper__logo {
  display: -webkit-box;
  display: flex;
  width: 213px;
  text-decoration: none;
  -webkit-box-align: center;
  align-items: center;
}

.footer-social-wrapper__logo img {
  margin-right: 12px;
  width: auto;
}

.footer-social-wrapper__logo h2 {
  font-size: 26px;
  line-height: 31px;
  font-weight: 900;
  color: #11B354;
}

.footer-social-wrapper__logo span {
  color: #fff;
  display: block;
}

.footer-social-wrapper__icon {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.footer-social-wrapper__icon p {
  margin-right: 39px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.footer-social-wrapper__call a {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  padding-left: 20px;
}

.footer-social-wrapper__call a::before {
  content: "";
  position: absolute;
  background-image: url("../img/callfooter.svg");
  width: 15px;
  height: 15px;
  left: 0;
  top: 6px;
}

.footer__small small {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 76px;
  display: block;
}

@media screen and (max-width: 1200px) {
  .intro__blockitem {
    width: calc(33.333333333333336% - 20px);
  }

  .catalog {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .catalog__autotype-type {
    width: calc(50% - 20px);
  }

  .catalog__autoform-form {
    width: calc(33.333333333333336% - 20px);
  }

  .catalog__marks {
    width: calc(33.333333333333336% - 20px);
  }

  .elecar__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .elecar__item {
    width: calc(50% - 20px);
  }

  .testdrive__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .popular {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .popular__link {
    width: calc(33.333333333333336% - 20px);
  }

  .calc__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .features {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .features__item {
    width: calc(50% - 20px);
  }

  .useful__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .useful__item {
    width: calc(50% - 20px);
  }

  .map-oil {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .inst {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .header-nav {
    box-shadow: none;
    width: 320px;
    position: fixed;
    z-index: 99;
    top: 0;
    background-color: #fff;
    height: 100vh;
    -webkit-transform: translateX(-320px);
    transform: translateX(-320px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    overflow-y: scroll;
  }

  .header-nav--open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }

  .header-nav svg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .header-nav__item--component {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cfd4d7;
  }

  .header-nav__item--component p {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
  }

  .header-nav__item--component img {
    margin-right: 10px;
  }

  .header-nav__item--component .component-watch {
    margin-right: 20px;
  }

  .header-nav__item--component .component-message {
    margin-right: 39px;
  }

  .header-nav__item-btn {
    display: block;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cfd4d7;
  }

  .header-nav__btn {
    background-color: transparent;
    border: 0;
    position: relative;
    display: block;
    width: 50px;
    height: 40px;
  }

  .header-nav__btn::after {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .header-nav__btn::after,
  .header-nav__btn::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 6px;
    border-radius: 12px;
    left: 2px;
    top: 18px;
    background-color: #11B354;
    display: block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .header-nav__btn::before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .header-nav__list {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    padding: 0;
  }

  .header-nav__link {
    display: block;
    padding: 15px 20px;
    border-bottom: 1px solid #cfd4d7;
  }

  .header-nav__link:hover {
    border-bottom: 0px solid #11B354;
    color: #000;
  }

  .social-wrapper {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 98;
  }

  .social-wrapper__btn-wrapper {
    display: block;
  }

  .social-wrapper__btn {
    background-color: transparent;
    border: 0;
  }

  .social-wrapper__btn svg {
    margin: 0;
  }

  .social-wrapper__icon {
    display: none;
  }

  .social-wrapper__logo {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0;
    width: 87px;
  }

  .social-wrapper__logo img {
    display: none;
  }

  .social-wrapper__logo h2 {
    margin-top: 0;
  }

  .social-wrapper__call {
    max-width: 205px;
    margin-top: 0;
  }

  .social-wrapper__call a {
    font-weight: 700;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    line-height: 15px;
    position: relative;
    padding-left: 0;
  }

  .social-wrapper__call a::before {
    content: none;
  }

  .social-wrapper__call button {
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    line-height: 14px;
    padding: 5px 10px;
  }

  .intro__title {
    font-size: 28px;
    line-height: 30px;
  }

  .intro__blockitem {
    width: calc(100% - 20px);
  }

  .intro {
    padding-top: 230px;
  }

  .intro__subtitle {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-top: 20px;
  }

  .intro__form {
    max-width: 300px;
    margin-top: 30px;
  }

  .intro__number {
    padding: 20px 49px;
    width: 100%;
  }

  .intro__button {
    position: static;
    margin-top: 20px;
    width: 100%;
  }

  .intro__checkbox {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 20px;
    display: inline-block;
    position: relative;
    padding-left: 10px;
    cursor: pointer;
    max-width: 260px;
  }

  .intro__checkbox::after {
    left: 0;
    top: 10px;
  }

  .intro__blocks {
    -webkit-box-align: baseline;
    align-items: baseline;
    margin-top: 40px;
  }

  .intro__blockitem {
    min-height: auto;
    margin-bottom: 20px;
  }

  .intro__blockafter {
    display: none;
  }

  .intro__blockitem:nth-child(2) {
    margin-top: 0px;
  }

  .intro__checkhidden:checked + .intro__checkbox::before {
    left: 2px;
    top: 10px;
  }

  .catalog {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .catalog__title {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
  }

  .catalog__autotype-type {
    width: calc(100% - 20px);
  }

  .catalog__autoform-form {
    width: calc(50% - 20px);
  }

  .catalog__marks {
    width: calc(50% - 20px);
  }

  .catalog__tabs {
    margin-left: auto;
    margin-right: auto;
  }

  .catalog__autosecond {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 50px;
  }

  .catalog__marks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
  }

  .catalog__marks-img {
    width: 65px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .elecar__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .elecar__title {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
  }

  .elecar__item {
    width: calc(100% - 20px);
  }

  .testdrive__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .testdrive__title {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
  }

  .testdrive__subtitle {
    margin-top: 10px;
  }

  .testdrive__form {
    max-width: 300px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 34px;
  }

  .testdrive__field {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .testdrive__button {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
  }

  .testdrive__text {
    font-size: 25px;
    line-height: 30px;
  }

  .popular {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .popular__title {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
  }

  .popular__link {
    width: calc(50% - 20px);
  }

  .calc__title {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
  }

  .calc__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .calc__title {
    margin-bottom: 14px;
  }

  .calc__formtitle {
    margin-top: 34px;
  }

  .calc__formgroup input[type="text"],
  .calc__formgroup input[type="number"],
  .calc__formgroup select {
    margin-right: 0;
  }

  .calc__formgroup-box {
    margin-right: 0;
  }

  .calc__formgroup--price {
    margin-top: 3px;
  }

  .calc__formgroup--price p {
    font-size: 22px;
    line-height: 24px;
  }

  .calc__button {
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: 30px;
  }

  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .features__title {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
  }

  .features__item {
    width: calc(100% - 20px);
  }

  .features__item {
    margin-top: 35px;
    text-align: center;
  }

  .useful__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .useful__title {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
  }

  .useful__item {
    width: calc(100% - 20px);
  }

  .useful__item {
    text-align: center;
  }

  .map-oil {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .map-oil__title {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
  }

  .inst {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .inst__title {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
  }

  .footer-nav {
    display: none;
  }

  .footer-social-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 0;
    margin-top: 0;
    overflow: hidden;
  }

  .footer-social-wrapper__logo {
    margin-top: 0;
  }

  .footer-social-wrapper div,
  .footer-social-wrapper__logo {
    position: relative;
    padding: 10px 0;
  }

  .footer-social-wrapper div::after,
  .footer-social-wrapper__logo::after {
    content: "";
    position: absolute;
    width: 200vw;
    left: -50vw;
    height: 1px;
    background-color: #8E8E8E;
    bottom: 0;
  }

  .footer__small small {
    margin-top: 30px;
  }
}

@media screen and (max-width: 430px) {
  .catalog {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .elecar__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .testdrive__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .popular {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .calc__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .features {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .useful__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .map-oil {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .inst {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
